@import url("https://fonts.googleapis.com/css?family=Damion|Muli:400,600");
@font-face {
    font-family: myfont1;
    src: url("./fonts/Candia-Script-Font.ttf");
}
@font-face {
    font-family: myfont2;
    src: url("./fonts/Calimindo-Font.ttf");
}
@font-face {
    font-family: mainFont;
    src: url("./fonts/Ubuntu.ttf");
}
@font-face {
    font-family: myfont3;
    src: url("./fonts/Callmounth-Regular.ttf");
}
@font-face {
    font-family: myfont4;
    src: url("./fonts/Calloveya.ttf");
}
@font-face {
    font-family: "Parabole";
    src: url("./fonts/Parabole.ttf");
}
.dif-font1 {
    font-family: myfont1;
}
.dif-font2 {
    font-family: myfont2;
}
.dif-font3 {
    font-family: myfont3;
}
.dif-font4 {
    font-family: myfont4;
}
.dif-font5 {
    font-family: Parabole;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    &::selection {
        color: #fffaf4;
        background-color: #000;
    }
}
#loading-overlay {
    position: fixed; 
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255); 
    z-index: 999;
    font-size: 2rem;
    /* color: rgb(250, 241, 223); */
}
.loading_name {
    position: absolute;
    bottom: calc(50% + 25px);
    left: 0;
    width: 100%;
    text-align: center;
}
.loading_bar {
    position: absolute;
    top: 50%;
    left: calc(50% - 100px);
    width: 200px;
    height: 1px;
    overflow: hidden;
    /* background-color: #e91e63; */
}
.loading_bar:before {
    content: "";
    position: absolute;
    width: 2400px;
    height: 1px;
    background: linear-gradient(to right, transparent 0, transparent 5.5555555556%, black 11.1111111111%, black 16.6666666667%, transparent 22.2222222222%, transparent 27.7777777778%, black 33.3333333333%, black 38.8888888889%, transparent 44.4444444444%, transparent 50%, transparent 55.5555555556%, black 61.1111111111%, black 66.6666666667%, transparent 72.2222222222%, transparent 77.7777777778%, black 83.3333333333%, black 88.8888888889%, transparent 94.4444444444%, transparent 100%);
    animation: loading_bar 2s linear 0s infinite;
}
.loading:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 1s cubic-bezier(.645,.045,.175,1) 0s;
}

@keyframes loading_bar {
    0% {
        transform: translateX(-1200px);
    }
    100% {
        transform: none;
    }

}

html,
body {
    height: 100%;
    width: 100%;
    font-family: mainFont;
}
#main {
    overflow-x: hidden;
}
.section {
    height: 100vh;
    width: 100vw;
    border-radius: 2vw;
    overflow-x: hidden;
}
.section1 {
    height: 100vh;
    width: 100vw;
    border-radius: 2vw;
    overflow-x: hidden;
}
.section-scroll {
    height: 100vh;
    width: 100vw;
    border-radius: 2vw;
    overflow-x: hidden;
}
#page1 {
    border-radius: 0;
}
.section video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 10vh;
    align-content: center;
    background-color: transparent;
    transition: color 1s ease-in-out;
    color: #ffffff;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    &:hover a {
        color: #000;
    }
}
header::before {
    content: "";
    background-color: #fffaf4;
    /* height: inherit; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    z-index: -1;
    /* transform: translateY(-101%); */
    height: 0%;
    transition: all 0.3s ease-in-out;
}
header:hover::before {
    /* transform: translateY(0); */
    height: inherit;
}
header:hover .right-nav::before {
    color: #000;
}
header:hover .right-nav img {
    filter: invert(0);
}
.scroll-down header {
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-in-out;
}
.scroll-up header {
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(0 -12px 20px rgb(170, 170, 170));
    &::before {
        /* transform: translateY(0); */
        height: inherit;
    }
}
.scroll-up .right-nav::before {
    color: #000;
}
.scroll-up nav a {
    color: #000;
}
.scroll-up nav .right-nav img {
    filter: invert(0);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

nav .mid-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    &a {
        font-size: 1vw;
    }
}
.left-nav a {
    font-size: 2vw;
}
.right-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    height: 8vh;
    width: 7vw;
    /* background-color: #000; */
    position: relative;
}
.right-nav img {
    height: 60%;
    color: #ffffec;
    filter: invert(1);
    cursor: pointer;
}
.right-nav:before {
    content: "Sign Up";
    position: absolute;
    left: 0;
    color: inherit;
    z-index: 10;
}

@media (max-width: 668px) {
    header {
        height: 7vh;
    }

    
    .left-nav a {
        font-size: 5vw;
    }
    nav .mid-nav a {
        font-size: 2vw;
    }

    
    .right-nav {
        width: auto;
        height: 7vh;
    }
    .right-nav::before {
        content: ""; 
    }
    .right-nav img {
        width: 100%; 
    }

    
}
#page2 {
    background-color: #ffffec;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
#page2 h1 {
    margin-left: 2vw;
}
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
    cursor: grab;
}

#image-track > .image {
    width: 50vmin;
    height: 66vmin;
    object-fit: cover;
    border-radius: 2vw;
    object-position: 100% center;
}
.title-div {
    width: 40vw;
    display: grid;
    place-items: center;
    font-size: 2.5vw;
}

.heading {
    display: grid;
    place-content: center;
    padding: 0;
    text-wrap: nowrap;
    font-size: 3vw;
}


#heading-mobile {
    display: none;
    font-size: 5vw;
    padding: 0;
    text-wrap: nowrap;
    place-content: center;
}
@media only screen and (max-width: 768px) {
    #page2 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #heading-mobile{
        display: block;
        position: absolute;
        top: 0;
        margin-top: 10vh;
    }
    .title-div{
        display: none;
    }
    #image-track{
        margin-left: 2vw;
        /* background-color: #000; */
        height: 80vh;
        align-items: center;
        width: 800vw;
    }
    #image-track > .image {
        width: 70vmin;
        height: 88vmin;
        object-fit: cover;
        border-radius: 2vw;
        object-position: 100% center;
    }
}
#page3 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}

#page3 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
}
.video-div {
    position: relative;
    width: 60%;
    height: auto;
    border-radius: 1vw;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 1vw;
}

.overlay h1,
.overlay p,
.overlay div {
    margin: 1vw;
}

.btn-order {
    border: 1px solid #a2a0a0;
    padding: 1vw;
    padding-block: 0.5vw;
    border-radius: 5vw;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: #000;
        border: none;
    }
}

.btn-order a {
    text-decoration: none;
    color: #fffaf4;
}

#shows {
    background-color: #fffaf4;
}

.scroll-heading {
    font-size: 48vw;
    text-wrap: nowrap;
}
.mid-img {
    display: inline-block;
    height: 40vw;
}

.mid-img img {
    object-fit: cover;
    height: 100%;
}
@media (max-width: 768px) {
    .scroll-heading {
        font-size: 25vw;
        text-wrap: wrap; 
        scroll-snap-type: y mandatory; 
    }
    .mid-img:first-child,.mid-img:nth-child(2){display: none;}
    .mid-img {
        display: block; 
        height: 40vh; 
        transform: translateX(-20vw);
    }
    #shows {
        position: static; 
        scroll-snap-type: y mandatory; 
    }
}


.page4 {
    /* background-color: antiquewhite; */
    height: 100vh;
    display: grid;
    place-items: center;
    background-position: center;
    object-fit: cover;
    border-radius: 2vw;
}
.model-container {
    width: 95vw;
    height: 90vh;
    /* background-color: #000; */
    padding: 1em 0.5em;
    display: flex;
    justify-content: center;
    position: relative;
}

.circle {
    position: absolute;
    top: 15px;
    left: 0;
    width: 5px;
    height: 5px;
    z-index: 20;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.model-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    /* background-color: #000; */
}

.model {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 10vw;
    height: 95%;
    margin: 0 5px;
    /* background-color: #000; */
    overflow: hidden;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 0.5vw;
}

.model img {
    width: 25vw;
    height: 100%;
    object-fit: cover;
    /* transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}
@media (max-width: 668px) {
    .model {
        flex: 0 1 33%;
        margin: 0 3px;
    }
    @media (max-width: 768px) { 
        .model-container .model:nth-child(n+7) {
            display: none; 
        }
    }
    .model-gallery {
        overflow-x: scroll;
    }
    .circle{
        display: none;
    }
}

.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    border-top: 1px solid #e91e63;
    background-color: #ffff;
    padding: 7vw 0;
    border-radius: 2vw;
}
.footer-col {
    width: 25%;
    padding: 0 30px;
}
.footer-col h4 {
    font-size: 18px;
    color: #090308;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #24202000;
    text-decoration: none;
    font-weight: 300;
    color: #272323;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(216, 172, 210, 0.557);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #3d4355;
    background-color: #0000;
}

@media (max-width: 767px) {
    .footer {
        padding: 1vh;
        padding-top: 4vh;
    }
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
    .footer-col h4 {
        margin-bottom: 15px;
    }
}
/* form css   */

.form {
    width: 80%;
    position: relative;
    height: 60px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #000;
    padding-top: 20px;
    border: none;
    background-color: #fff;
}
.form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
}
.form label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #e91e63;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}
.form input:focus {
    outline: none;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    left: 0px;
    color: #e91e63;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
    transform: translateX(0%);
}

/* page 5 */
#page5 {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 2vw;
    /* font-family: Damion; */
}


.women::before,
.men::before,
.kids::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: 0.5s;
}

.women:hover::before,
.men:hover::before,
.kids:hover::before {
    background: transparent;
}

.women {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background: var(--primary);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.men {
    position: absolute;
    top: 0;
    left: 30%;
    height: 100%;
    width: 40%;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 25% 50%, 0 0);
    background: var(--second);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kids {
    position: absolute;
    top: 0;
    left: 60%;
    height: 100%;
    width: 40%;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
    background: var(--primary);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page5.left .women,
#page5.middle .men,
#page5.right .kids {
    width: 100%;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
    transition: 1s;
    background-color: #f9d4e0;
}

#page5.right .kids {
    left: 0;
}
#page5.middle .men {
    left: 0;
}

#page5.left .men,
#page5.left .kids {
    left: 120%;
}

#page5.right .men,
#page5.right .women {
    left: -120%;
}

#page5.middle .women {
    left: -120%;
}

#page5.middle .kids {
    left: 120%;
}
/* banner mages */
.women img,
.men img,
.kids img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

#page5.left .women img {
    width: 50%;
}

#page5.middle .men img,
#page5.right .kids img {
    left: 50%;
    width: 50%;
}

/* Banner switch button */
.switch-btn {
    position: relative;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 50;
    margin-top: 40%;
    z-index: 100;
    transition: 0.5s;
    transform: scale(1);
    letter-spacing: 2px;
    font-weight: 500;
    font-style: italic;
    font-family: mainFont;

    /* font-family: "Times New Roman"; */
}

.switch-btn:hover {
    transform: scale(1.2);
}

/* Banner reset button */
.reset {
    position: absolute;
    left: 100px;
    bottom: 90px;
    z-index: 1000;
    transition: 0.5s;
    font-size: 2rem;
    font-weight: bold;
    color: #dd8aaf;
}

.reset.active {
    transform: rotateZ(180deg);
}

.reset ion-icon {
    font-size: 2rem;
    transition: 0.3s;
    color: #000;
}

.reset ion-icon:hover {
    color: white;
}

#page5 .content {
    position: absolute;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 900;
}

#page5 .content h1 {
    color: #000;
    font-size: 4.5em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    /* font-family: Georgia, "Times New Roman", Times, serif; */
}

#page5 .content p {
    color: #000;
    font-size: 1em;
    margin-bottom: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#page5 .content a {
    position: relative;
    width: 200px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(25, 24, 24);
    padding: 12px 20px;
    border: 1px solid #080808;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
}

#page5 .content a ion-icon {
    font-size: 1.2em;
}

#page5 .content a:hover {
    background: rgb(20, 19, 19);
    color: wheat;
}

#page5.left .women .content,
#page5.middle .men .content,
#page5.right .kids .content {
    opacity: 1;
    visibility: visible;
}

.women .content {
    left: 55%;
}

.men .content,
.kids .content {
    left: 100px;
}

@media(max-width:600px)
{
    #page5 {
        padding: 0 20px;   
    }
    .women {
        height: 40%;
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);  
    }
    .men {
        top: 30%;
        left: 0;
        height: 40%;
        width: 100%;
        clip-path: polygon(100% 0%, 100% 100%, 50% 75%, 0 100%, 0 0, 50% 25%);  
    }
    .kids {
        top: 60%;
        left: 0;
        height: 40%;
        width: 100%;
        clip-path: polygon(50% 0, 100% 25%, 100% 100%, 0 100%, 0 25%);        
    }

    #page5.left .women,
    #page5.middle .men,
    #page5.right .kids {
      height: 100%;
    }
    #page5.right .kids
     {
        top: 0;
    }
    #page5.middle .men
     {
        top: 0;
    }
    #page5.left .men,
    #page5.left .kids {
        top: 120%;
    }
    #page5.right .men,
    #page5.right .women {
        top: -120%;
    }
    #page5.middle .women {
        top: -120%;
    }
    #page5.middle .kids {
        top: 120%;
    }
    #page5.left .women img
     {
        width: 100%;
        height: 50%;
    }
    #page5.middle .men img,
    #page5.right .kids img {
        left: 0;
        top: 50%;
        height: 50%;
        width: 100%  !important;
    }
    /* Banner switch button */
    .switch-btn {
        font-size: 1em;
        margin-top: 0;   
    }
    .switch-btn:hover {
        transform: scale(1.2);
    }
    #page5 .content h1 {
        font-size: 2.5em;
        font-weight: 400;   
    }
    .women .content {
        left: 20px;
        top: 60%;
    }
    .men .content,
    .kids .content {
        left: 20px;
        top: 15%;
    }

    .reset{
        left: 10px;
        bottom: 10px;
    }
    .reset ion-icon{
        font-size: 0.75em;
    }
    #page5 .content a {
        width: 150px;
        margin-left: 4vw;
        padding: 8px 12px;
        font-size: 0.75em;
    }
}